* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
}

.container-flex {
    display: flex;
    align-items: center;
}

.bold {
    font-weight: bold;
}

header {
    width: 100%;
    position: fixed;
    z-index: 10;
}

.top-header {
    background-color: #3d5672;
    padding: 0 1rem;
    width: 100vw;
    height: 30px;
    color: white;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

.top-header a:hover {
    text-decoration: underline;
}

.botones-contacto a {
    width: 35px;
    height: 30px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in;
}

.botones-contacto a:hover{
    background-color: #324459;
}

.botones-contacto a img {
    height: 20px;
}

.bottom-header {
    padding: 0 1rem;
    height: 5rem;
    width: 100%;
    background-color: #ffffffb3;
    justify-content: space-between;
}

.logo, h3 {
    font-family: "Boldonse", system-ui;
    font-size: 1rem;
}

.logo img {
    height: 3rem;
    margin-right: 1rem;
}

.navegacion {
    display: flex;
    gap: 10px;
}

.navegacion a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in, border-bottom 0.3s ease-in;
    position: relative;
}

.navegacion a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #022e64;
    transition: width 0.3s ease-in, left 0.3s ease-in;
}

.navegacion a:hover {
    color: #022e64;
}

.navegacion a:hover::after {
    left: 0;
    width: 100%;
}

main {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1800px;
    flex-direction: column;
    background-color: #ececec;
}

#inicio {
    width: 100%;
    position: relative;
    top: 30px;
    height: 90vh;
    background-image: url("../imagenes/background_inicio.jpg");
    background-size: cover;
    justify-content: center;
    flex-direction: column;
}

#inicio h1 {
    color: white;
    font-family: "Boldonse", system-ui;
    font-size: 2.3rem;
    width: 500px;
    text-align: center;
}

.boton-link {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #3d5672;
    border-radius: 1rem;
    font-size: 20px;
    transition: transform 0.2s ease-in;
}

.boton-link:hover {
    transform: scale(1.05);
}

.container-section {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    width: 100%;
    height: 80vh;
    min-height: 500px;
}

.container-section h2 {
    font-size: 30px;
    position: relative;
}

.container-section h2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    height: 1px;
    background-color: black;
}

.dos-columnas {
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
    font-size: 20px;
}

.dos-columnas img {
    grid-column: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dos-columnas div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#materiales {
    background-color: #e0e0e0;
}

.container-materiales {
    width: 70%;
    height: 80%;
    background-color: #ececec;
    margin: auto;
}

.container-materiales ul {
    width: 25%;
    height: 100%;
    border-right: 3px solid #3d5672;
    box-shadow: 2px 0 0 0 #3d5672;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
    z-index: 1;
}

.container-materiales li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.container-materiales li:not(:last-child) {
    border-bottom: 1px solid #3d5672;
}

.materiales-sel {
    background-color: #3d5672;
    color: white;
}

.container-materiales > div {
    width: 100%;
    height: 100%;
}

.materiales-li {
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.materiales-li div {
    height: 100%;
    margin: auto 0;
    flex: 0 0 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.materiales-li p {
    flex: 1;
}

.materiales-li img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}

#galeria {
    height: 250vh;
}

#galeria h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.container-galeria {
    position: relative;
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.container-galeria > div {
    height: 100%;
    width: 100%;
}

.img-izquierda, .img-derecha {
    width: 100%;
    max-height: 70vh;
    z-index: 1;
    opacity: 0.7;
    margin: auto;
}   

.img-izquierda {
    transform: scale(0.9) translateX(150px);
    grid-column: 1;
    grid-row: 1;
}

.img-seleccionada {
    position: relative;
    width: 100%;
    max-height: 70vh;
    margin: 0 auto;
    object-fit: contain;
    z-index: 2;
    grid-column: 2;
    grid-row: 1;
}

.img-derecha {
    transform: scale(0.9) translateX(-150px);
    grid-column: 3;
    grid-row: 1;
}

.btn-galeria {
    border-radius: 3px;
    background-color: #3d3d3d;
    z-index: 3;
    cursor: pointer;
    width: 40px;
    height: 150px;
    border: 0;
    font-size: 3rem;
    color: rgb(185, 185, 185);
    opacity: 0.3;
    transition: background-color 0.3s ease-in, opacity 0.3s ease-in, transform 0.3s ease-in;
}

.btn-galeria:hover {
    background-color: #3d3d3d;
    opacity: 1;
    transform: scale(1.05);
}

@keyframes mueve-img-izq {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-50%) scale(0.9);
        opacity: 0.7;
    }
}